.bodyPage{
    margin-top: 3%;
    width: 100%;
}

.formControl{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.row{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: center;
    margin-bottom: 3%;
}

.inputName{
    width: 30%;
}
.InputState{
    width: 30%;
}

.submit{
    color: #F3F3F3;
    background-color: rgb(4, 32, 21);
    width: 10%;
    font-size: 20px;
    margin-right: 5%;
    border-radius: 15px;
    cursor: pointer;
}

.submit:hover{
    background-color: #333;
    color: #F4F4F4;
}

.cancel{
    color: #F3F3F3;
    background-color: rgb(71, 6, 6);
    width: 10%;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.cancel:hover{
    background-color: #333;
    color: #F4F4F4;
}
