<app-side-bar>
    <span>Home / Cidade</span>
    <hr/>
    <div class="header">
        <div class="row">
            <h1>Cidades cadastradas</h1>
            <button (click)="newCity()" class="button"><i class="fa fa-plus"></i> Nova Cidade</button>
        </div>
        <p>Filtros:</p>
        <form class="formControl">
            <div class="InputId">
                <app-input [label]="'Id cidade'" [type]="'number'" 
                [formGroupControl]="form" [formControlNameInput]="'idCity'">       
                </app-input>    
            </div>
            <div class="Inputname">
                <app-input [label]="'Nome cidade'" [type]="'text'" 
                [formGroupControl]="form" [formControlNameInput]="'name'">       
                </app-input>        
            </div>
            <ng-container *ngIf="listUf && listUf.length > 0 "> 
                <div class="InputSelect">
                    <app-input [label]="'UF'" [type]="'select'" 
                    [formGroupControl]="form" [formControlNameInput]="'uf'" [DataSelect]="listUf">       
                    </app-input>
                </div>
            </ng-container>
            <div class="divButton">
                <button type="button" (click)="seacherCity()" class="button">
                    <i  class="fa fa-search action"></i>
                    Pesquisar
                </button>
            </div>
            <div class="divButton">
                <button type="button" (click)="clearSearch()" class="button">
                    <i  class="fa-light fa-soap action"></i>
                    Limpar
                </button>
            </div>
        </form>
    </div>
    <hr/>
    <div class="bodyTable">
        <app-grid [theadList]="columns.header" [bodyList]="dataObjectCity" (callParent)="onCallParent($event)" ></app-grid>
    </div>
</app-side-bar>